*.psd filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
Capstone[[:space:]]Project/data/met_with_images.csv filter=lfs diff=lfs merge=lfs -text
Capstone[[:space:]]Project/data/met_public_domain.csv filter=lfs diff=lfs merge=lfs -text
Capstone[[:space:]]Project/data/Met/MetObjects.txt filter=lfs diff=lfs merge=lfs -text
Capstone[[:space:]]Project/data/met_with_images_cleaned.csv filter=lfs diff=lfs merge=lfs -text
