# Large data files
Capstone Project/data/met_with_images_cleaned.csv
Capstone Project/data/met_with_images.csv
Capstone Project/data/met_public_domain.csv
Capstone Project/data/Met/MetObjects.txt

# General data files
*.csv
*.txt

# Exceptions (if you have smaller CSV or TXT files you want to keep)
# !small_data.csv
# !README.txt

# macOS system files
.DS_Store
**/.DS_Store
